* {
  font-family: 'Inter', sans-serif;
}

.frame {
  width: 175px;
  height: 175px;
}
.marto {
  margin-top: 4rem;
}
.logo {
  width: 28px;
  height: 28px;
}
.graphic {
  width: 50vw;
  height: 100vh;
}
.logo-h {
  font-weight: 300;
  font-size: 33px;
}
.signin {
  font-weight: 600;
  font-size: 33px;
  line-height: 130%;
}

.inp-flds {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #8a92a6;
}
.btm-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;

  color: #232d42;
}
.icons {
  width: 40px;
  height: 40px;
}
.input {
  border: 1px solid #3a57e8;
}
.frame2 {
  right: 0;
  top: 0;
}
.done {
  width: 86px;
  height: 91px;
}
.success {
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #0048b3;
}
.vect {
  width: 280px;
  height: 211px;
}
.frame3 {
  right: 47%;
  top: 0;
}
